@media (max-width: 1680px) {
	.site__header {
		height: 680px;
		background-color: #F3F3F3;
	}
	.site__header:before {
		background-image: 
        url("../img/header-left.png"),
        url("../img/header-right.jpg");
		background-position: 
			left bottom,
			10% bottom;
		background-size: 40%, cover;
	}
	.site__logo {
		margin-bottom: 20px;
	}
	.header__title-wrapper {
		height: auto;
	}
	.header__title {
		font-size: 42px;
	}
	.header__text {
		margin-bottom: 20px;
	}
	.summer__section-wrapper {
		height: auto;
	}
	.summer__title {
		left: -470px;
	}
	.summer__section .title__wrapper {
		margin-top: 120px;
	}
	.summer__foto-1 {
		width: 400px;
		height: 500px;
		top: -60px;
	}
	.summer__foto-wrapper {
		width: 400px;
		height: 700px;
	}
	.summer__foto-wrapper:before {
		width: 400px;
		height: 400px;
	}
	.advantages {
		margin-top: 350px;
	}
	.galary__block {
		max-height: 560px;
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 445px;
		background-image: 
			url("../img/footer-left.png"),
			url("../img/footer-right.png"),
			url("../img/footer-birds.png");
		background-repeat: no-repeat;
		background-size: 
			500px,
			350px,
			150px;
		background-position: 
			left bottom,
			right bottom,
			460px 35px;
		position: relative;
		z-index: 1;
	}
	.site__footer .container {
		width: 1000px;
	}
	.footer__logo {
		margin-top: 30px;
		margin-bottom: 50px; 
	}
	.footer__title {
		font-size: 44px;
	}
}



@media (max-width: 1440px) {
	.container {
		width: 1000px;
	}
	.site__header:before {
		background-position: 
			left bottom,
			5% bottom;
	}
	.summer__title {
		// left: -440px;
		display: none;
	}
	.info__section {
		height: 850px;
		background-image: url("../img/info-bg.jpg");
		background-repeat: no-repeat;
		background-position: left -270px bottom;
		background-size: cover;
	}
	.info__wrapper {
		width: 550px;
	}
	.summer__foto-wrapper {
		bottom: -40px;
	}
	.galary__block {
		max-height: 539px;
	}
	.info__blocks {
		width: 420px;
	}
	.info__section .block__title{
		margin-top: 50px; 
	}
	.card__left {
		width: 320px;
	}
	.card__right {
		width: 680px;
		height: 100%;
	}
	.slide {
		height: 550px;
	}
	.slide__img {
		background-size: cover;
	}
	.card {
		height: 550px;
	}
	.card__info-block {
		padding: 20px 15px 100px 15px;
	}
	.card__logo {
		margin-bottom: 10px;
		width: 130px;
	}
	.card__title {
		font-size: 20px;
	}
	.card__info {
		font-size: 12px;
	}
	.card__size-btns {
		height: 120px;
	}
	.card__info-order {
		padding: 20px 15px 100px 15px;
	}
	.card .header__order-btn, .sprey__card .header__order-btn {
		width: 100%;
		height: 80px;
		line-height: 80px;
	}
	.card__input {
		margin-bottom: 20px;
	}
	.card__info-sale {
		margin-bottom: 10px;
	}
	.card__back {
		top: 15px;
		right: 15px;
	}
	.card__btns-color {
		top: 30px;
		right: 30px;
	}
	.card__form {
		width: 100%;
	}
	.reviews__section {
		height: 1400px;
	}
	.review__img1-wrapper {
		width: 400px;
		height: 560px;
	}
	.review__img1-wrapper:before {
		width: 400px;
		height: 460px;
	}
	.review__img2-wrapper {
		width: 420px;
		height: 700px;
	}
	.review__img2-wrapper:before {
		width: 420px;
		height: 420px;
	}
	.delivery__wrapper {
		margin-top: 180px;
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 445px;
		background-image: 
			url("../img/footer-left.png"),
			url("../img/footer-right.png"),
			url("../img/footer-birds.png");
		background-repeat: no-repeat;
		background-size: 
			400px,
			300px,
			150px;
		background-position: 
			left bottom,
			right bottom,
			440px 35px;
		position: relative;
		z-index: 1;
	}
	.site__footer .container {
		width: 1000px;
	}
	.footer__logo {
		margin-top: 30px;
		margin-bottom: 50px; 
	}
	.footer__title {
		font-size: 44px;
	}
	.footer__price .price{
		.old__price {
			font-size: 22px;
		}
		.new__price {
			font-size: 46px;
		}
	}
}

@media (max-width: 1366px) {
	.site__header {
		height: 670px;
	}
	.galary__block {
		max-height: 500px;
	}
}

@media (max-width: 1280px) {
	.galary__block {
		max-height: 540px;
	}
}

@media (max-width: 1200px) {
	.container {
		width: 900px;
	}
	.site__header:before {
		background-position: 
			left bottom,
			-100px bottom;
	}
	.summer__foto-1 {
		top: -60px;
	}
	.summer__section {
		background: none;
	}
	.info__section {
		height: 750px;
		background-image: url(../img/info-bg.jpg);
		background-repeat: no-repeat;
		background-position: left -300px bottom;
		background-size: cover;
	}
	.info__section .block__title{
		margin-bottom: 20px;
	}
	.info__text {
		margin-bottom: 0px;
	}
	.card__right {
		width: 580px;
		height: 100%;
	}
	.sprey__card .card__info-block .card__title {
		margin-top: -30px;
	}
	.sprey__card .card__info {
		font-size: 14px;
	}
	.sprey__img {
		width: 200px;
		left: 30px;
	}
	.reviews__section {
		height: 1450px;
	}
	.review__block {
		width: 450px;
	}
	.review__slider {
		height: 420px;
	}
	.review__slider .slide {
		padding: 50px 30px 100px 30px; 
	}
	.delivery__wrapper {
		margin-top: 100px;
		width: 450px;
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 445px;
		background-image: 
			url("../img/footer-left.png"),
			url("../img/footer-right.png"),
			url("../img/footer-birds.png");
		background-repeat: no-repeat;
		background-size: 
			400px,
			300px,
			130px;
		background-position: 
			left bottom,
			right bottom,
			320px 35px;
		position: relative;
		z-index: 1;
	}
	.site__footer .container {
		width: 900px;
	}
	.footer__logo {
		margin-top: 30px;
		margin-bottom: 40px; 
	}
	.footer__title {
		font-size: 40px;
	}
}

@media (max-width: 1080px) {
	.site__header {
		height: 750px;
	}
	.container {
		width: 800px;
	}
	.site__header:before {
		background-position: 
			left bottom,
			-400px top;
		background-size: 60%, 190%;
	}
	.summer__section-wrapper {
		height: 850px;
	}
	.summer__section .title__wrapper {
		display: flex;
		justify-content: flex-end;
	}
	.summer__section .block__title {
		width: 340px;
	}
	.summer__foto-1 {
		width: 300px;
		height: 400px;
		top: -80px;
	}
	.summer__foto-wrapper {
		width: 300px;
		height: 500px;
	}
	.summer__foto-wrapper:before {
		width: 300px;
		height: 300px;
	}
	.advantages {
		margin-top: 140px;
	}
	.advantage {
		margin-bottom: 30px;
		width: 320px;
		margin-left: 50px;
		height: auto;
	}
	.info__section {
		height: 650px;
		background-image: url(../img/info-bg.jpg);
		background-repeat: no-repeat;
		background-position: left 100% top;
		// background-size: 130%;
		position: relative;
	}
	// .info__section:before {
	// 	content: "";
	// 	width: 100%;
	// }
	.info__container{ 
		margin-right: 50px;
	}
	.card{
		height: 500px;
	}
	.card__right {
		width: 480px;
		height: 100%;
	}
	.slider {
		margin-top: 100px;
		height: 400px;
	}
	.slide {
		height: 400px;
		
	}
	.card__logo {
		position: absolute;
		top: 15px;
		left: 335px;
	}
	.card .card__title {
		position: absolute;
		width: 700px;
		top: 60px;
		left: 50px;
		text-align: center;
	}
	.card .card__info-block {
		padding: 100px 15px 100px 15px;
	}
	.card .card__info-order {
		padding: 100px 15px 100px 15px;
		justify-content: flex-end;
		.card__title {
			margin: 0;
		}
	}
	.card .card__back {
		top: 100px
	}
	.card__btns-color{
		top: 15px;
		right: auto;
		left: 715px;
		z-index: 10000;
	}
	.sprey__card .card__right {
		padding: 15px;
		padding-top: 80px;
	}
	.sprey__card .card__logo {
		position: static;
		margin-bottom: 10px;
		width: 130px;
	}
	.sprey__card .card__title {
		position: static;
		font-size: 20px;
	}
	.sprey__img {
		transform: none;
		top: auto;
		left: auto;
		right: 20px;
		bottom: 10px;
	}
	.sprey__info {
		width: 100%;
		height: 100%;
	}
	.reviews__section {
		height: 1300px;
		padding-top: 70px;
	}
	.review__block {
		width: 400px;
	}
	.review__block .block__title {
		margin-bottom: 30px;
	}
	.review__slider .slider{
		height: 420px;
		margin: 0;
	}
	.review__slider .slide {
		padding: 30px 30px 100px 30px; 
	}
	.review__slider .slick-dots {
		left: 30px;
	}
	.review__img1-wrapper {
		width: 350px;
		height: 470px;
		top: 30px;
	}
	.review__img1-wrapper:before {
		top: -30px;
		left: -30px;
		width: 350px;
		height: 350px;
	}
	.review__img2-wrapper {
		width: 360px;
		height: 550px;
		bottom: -30px;
	}
	.review__img2-wrapper:before {
		width: 360px;
		height: 360px;
		top: -30px;
		right: -30px;
	}
	.delivery__wrapper {
		margin-top: 60px;
		width: 420px;
	}
	.delivery__stage {
		margin-bottom: 30px;
		margin-left: 60px;
	}
	.stage__img {
		left: -80px;
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 420px;
		background-image: 
			url("../img/footer-left.png"),
			url("../img/footer-right.png"),
			url("../img/footer-birds.png");
		background-repeat: no-repeat;
		background-size: 
			420px,
			280px,
			130px;
		background-position: 
			left -50px bottom,
			right bottom,
			320px 35px;
		position: relative;
		z-index: 1;
	}
	.site__footer .container {
		width: 800px;
	}
	.footer__logo {
		margin-top: 30px;
		margin-bottom: 30px; 
	}
	.footer__title {
		font-size: 34px;
	}
	.footer__text {
		text-align: center;
		font-size: 17px;
		margin-bottom: 10px;
	}
	.footer__price {
		width: 290px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	} 
	.footer__price .price{
		width: 100%;
		margin-bottom: 10px;
		.old__price {
			font-size: 20px;
		}
		.new__price {
			font-size: 42px;
		}
	}
}

@media (max-width: 1024px) {
	.galary__block {
		max-height: 360px;
	}
}

@media (max-width: 880px) {
	.site__header {
		height: 650px;
		margin: 0;
		display: flex;
		align-items: flex-start;
	}
	.site__header:after {
		content: "";
		width: 100%;
		height: 100px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(193, 24, 85, 0.5);
		background-image: url("../img/logo-white.png");
		background-repeat: no-repeat;
		background-position: center;
	}
	.container {
		width: 640px;
	}
	.site__logo {
		display: none;
	}
	.site__header:before {
		background-position: 
			left bottom 40px,
			-450px top;
			background-size: 530px, 1650px;
	}
	.header__content {
		position: static;
		height: auto;
		// justify-content: flex-end;
		width: 400px;
	}
	.header__title-wrapper {
		background-color: transparent;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		position: static;
	}
	.header__title {
		font-size: 32px;
		margin-top: 120px;
	}
	.header__sale {
		top: 80px;
		right: 50px;
		z-index: 10;
		width: 100px;
		height: 100px;
		font-weight: bold;
		font-size: 24px;
		line-height: 125%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.site__header .sale__line {
		bottom: 0px;
		z-index: 5;
	}
	.advantage__logo {
		left: -60px;
	}
	.card {
		height: 920px;
		position: relative;
	}
	.card__left {
		width: 100%;
	}
	.card__right {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		height: 300px;
	}
	.slider {
		margin-top: 0px;
		height: 300px;
	}
	.slide {
		height: 300px;
		
	}
	.card__logo {
		position: absolute;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
	}
	.card .card__title {
		position: absolute;
		width: 700px;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}
	.card__info {
		font-size: 16px;
		width: 290px;
	}
	.card .card__info-block {
		padding: 440px 50px 100px 50px;
		justify-content: flex-end;
		align-items: center;
	}
	.card__size-btns {
		width: 290px;
	}
	.card .card__info-order {
		padding: 420px 15px 100px 15px;
		justify-content: flex-end;
		align-items: center;
	}
	.card__price {
		width: 290px;
	}
	.card .card__back {
		top: 420px;
		right: 30px;
	}
	.card__btns-color{
		top: 30px;
		right: 30px;
		left: auto;
		z-index: 10000;
	}
	.card__form {
		width: 290px;
	}
	.card__input {
		margin-bottom: 30px;
	}
	.card__info-sale {
		margin: 50px 0;
	}
	.sprey__card {
		height: 700px;
		position: relative;
		.card__left {
			width: 100%;
		}
		.card__right {
			position: absolute;
			top: 100px;
			left: 0;
			width: 100%;
			height: 300px;
			justify-content: flex-start;
		}
		.slider {
			margin-top: 0px;
			height: 300px;
		}
		.slide {
			height: 300px;
			
		}
		.card__logo {
			position: absolute;
			top: 15px;
			left: 50%;
			transform: translateX(-50%);
		}
		.card__title {
			position: absolute;
			width: 100%;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}
		.card__info {
			font-size: 16px;
			width: 290px;
		}
		.card__info-block {
			padding: 420px 50px 100px 50px;
			justify-content: flex-end;
			align-items: center;
		}
		.card__size-btns {
			width: 290px;
		}
		.card__info-order {
			padding: 420px 15px 100px 15px;
			justify-content: flex-end;
			align-items: center;
		}
		.card__info-order .card__title {
			margin: 0;
		}
		.card__price {
			width: 290px;
		}
		.card__back {
			top: 420px;
			right: 30px;
			z-index: 300;
		}
		.card__btns-color{
			top: 30px;
			right: 30px;
			left: auto;
			z-index: 10000;
		}
		.card__form {
			width: 290px;
		}
		.card__input {
			margin-bottom: 30px;
		}
		.card__info-sale {
			margin: 50px 0;
		}
	}
	.sprey__card .card__info-block .card__title {
		margin-top: 0px;
	}
	.sprey__info {
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.sprey__text {
		margin-bottom: 20px;
	}
	.sprey__advantage {
		margin-bottom: 20px;
	}
	.reviews__section {
		height: auto;
		padding-top: 70px;
	}
	.reviews {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.reviews__wrapper {
		margin-top: 500px;
		margin-bottom: 740px;
	}
	.review__block {
		width: 500px;
	}
	.review__block .block__title {
		margin: auto;
		margin-bottom: 30px;
	}
	.review__slider{
		height: 360px;
		margin: 0;
	}
	.review__slider .slide {
		padding: 30px 30px 100px 30px; 
	}
	.review__slider .slick-dots {
		left: 30px;
	}
	.review__img1-wrapper {
		width: 350px;
		height: 470px;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
	.review__img1-wrapper:before {
		top: -30px;
		left: -30px;
		width: 350px;
		height: 350px;
	}
	.review__img2-wrapper {
		width: 360px;
		height: 550px;
		bottom: auto;
		top: 1080px;
		right: 50%;
		transform: translateX(50%);
	}
	.review__img2-wrapper:before {
		width: 360px;
		height: 360px;
		top: -30px;
		right: -30px;
	}
	.delivery__wrapper {
		margin-top: 0px;
		width: 100%;
		margin-bottom: 30px;
	}
	.delivery__block {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.delivery__stage {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 0;
		margin-bottom: 20px;
		padding-top: 60px;
	}
	.stage__img {
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
	.stage__text {
		text-align: center;
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 450px;
		background-image: 
			url("../img/footer-left.png"),
			url("../img/footer-right.png");
		background-repeat: no-repeat;
		background-size: 
			350px,
			220px;
		background-position: 
			left -50px bottom,
			right bottom;
		position: relative;
		z-index: 1;
	}
	.site__footer .container {
		width: 640px;
	}
	.footer__logo {
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px; 
	}
	.footer__title {
		font-size: 34px;
	}
	.footer__text {
		text-align: center;
		font-size: 17px;
		margin-bottom: 10px;
	}
	.footer__price {
		width: 290px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	} 
	.footer__price .price{
		width: 100%;
		margin-bottom: 10px;
		.old__price {
			font-size: 20px;
		}
		.new__price {
			font-size: 38px;
		}
	}
}

@media (max-width: 740px) {
	.site__header:before {
		background-position: 
			left bottom 40px,
			-400px top;
		background-size: 530px, 1450px;
	}
}

@media (max-width: 700px) {
	.site__header:before {
		background-position: 
			left bottom 40px,
			-350px top;
		background-size: 530px, 1300px;
	}
	.header__content {
		width: 350px;
	}
}

@media (max-width: 660px) {
	.site__header {
		height: 850px;
	}
	.site__header:before {
		background-color: #F2F2F2;
		background-image: 
			url("../img/header-mobile.png"),
			url("../img/header-right.jpg");
		background-position: 
			left bottom 40px,
			-550px top;
		background-size: 
			500px,  
			1250px;
	}
	.header__content {
		width: 350px;
	}
	.container {
		width: 500px
	}
	.header__content {
		width: 100%;
		margin-top: 350px;
		align-items: center;
	}
	.header__title {
		text-align: center;
	}
	.header__sale {
		right: 0px;
	}
	.header__text {
		display: none;
	}
	.summer__foto-1 {
		left: 50%;
		transform: translateX(-50%);
	}
	.summer__section-wrapper {
		height: auto;
	}
	.summer__section .block__title {
		margin-top: 340px;
		width: 100%;
		text-align: center;
	}
	.summer__section .block__title:before {
		right: 50%;
		transform: translateX(50%);
	}
	.summer__foto-wrapper {
		right: 50%;
		transform: translateX(50%);
	}
	.advantages {
		margin-top: 30px;
		margin-bottom: 500px;
	}
	.advantage {
		width: 100%;
		height: auto;
		margin: 0;
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 20px;
	}
	.advantage__logo {
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	.advantage__text {
		text-align: center;
	}
	.info__section {
		height: auto;
		background: none;
		position: relative;
		margin-bottom: 50px;
	}
	.info__container {
		margin: 0 auto;
	}
	.info__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.info__wrapper .block__title{ 
		text-align: center;
		margin-bottom: 30px;
	}
	.info__wrapper .block__title:before {
		right: 50%;
		transform: translateX(50%);
	} 
	.info__text {
		text-align: center;
		margin-bottom: 20px;
	}
	.info__blocks {
		margin-bottom: 30px;
	}
	.card__title {
		width: 300px;
		font-size: 20px;
	}
	.card__right {
		top: 140px;
	}
	.card {
		height: 920px;
	}
	.card .card__title {
		width: 100%;
	}
	.card .card__back {
		top: 460px;
		right: 30px;
	}
	.sprey__card {
		height: 960px;
	}
	.sprey__img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 150px;
	}
	.sprey__info {
		width: 290px;
		position: absolute;
		top: 330px;
		left: 50%;
		transform: translateX(-50%);
		color: #2F2F2F;
	}
	.sprey__text {
		color: #2F2F2F;
		font-size: 16px;
	}
	.sprey__card .advantage__text {
		color: #2F2F2F;
		font-size: 16px;
	}
	.sprey__card .sprey__advantages.active {
		display: none;
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 450px;
		background-image: 
			url("../img/footer-left.png"),
			url("../img/footer-right.png");
		background-repeat: no-repeat;
		background-size: 
			350px,
			220px;
		background-position: 
			left -50px bottom,
			right bottom;
		position: relative;
		z-index: 1;
	}
	.site__footer .container {
		width: 500px;
	}
	.footer__text {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.container {
		width: 400px;
	}
	.header__order {
		width: 290px;
	}
	.price {
		width: 290px;
		.old__price {
			font-size: 20px;
		}
		.new__price {
			font-size: 38px;
		}
	}
	.galary {
		width: 320px;
		height: 518px;
		margin: 0 auto;
	}
	.galary__block {
		width: 320px;
		max-height: 433px;
	}
	.slick-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: 30px;
	}
	.galary .slick-dots {
		width: 200px;
	}
	.galary .slick-dots:before {
		width: 200px;
	}
	.slick-dots:before {
		background-color: #2F2F2F;
	}
	.slick-dots li.slick-active:before {
		color: #2F2F2F;
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0px;
	}
	.galary__img {
		width: 100%;
		height: 433px;
	}
	.card__section .container {
		width:  100%;
	}
	.card {
		height: 1000px;
	}
	.slider__btns {
		display: none;
	}
	.card .slick-dots {
		bottom: -50px;
	}
	.card__info-block {
		padding: 0px 15px 100px 15px;
	}
	.card__info-order {
		padding: 0px 15px 100px 15px;
	}
	.card .card__back {
		top: 520px;
	}
	.card__btns-color {
		top: 20px;
		right: 15px;
		width: 30px;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.review__block {
		width: 400px;
	}
	.review__slider{
		height: 340px;
		margin: 0;
	}
	.review__slider .slide {
		padding: 20px 15px; 
	}
	.review__slider .slick-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: -60px;
	}
	.add__review {
		bottom: -100px;
		right: 50%;
		transform: translateX(50%);
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 660px;
		background-image: url("../img/footer-mobile.png");
		background-size: 800px;
		background-position: left bottom;
		background-repeat: no-repeat; 
		position: relative;
		z-index: 1;
	}
	.footer__wrapper {
		justify-content: space-between;
		height: 100%;
		padding: 50px 0;
		padding-bottom: 60px;
	}
	.footer__logo {
		margin-top: 0;
	}
	.site__footer .container {
		width: 400px;
		height: 100%;
	}
	.footer__text {
		width: 100%;
	}
}

@media (max-width: 414px) {
	.site__header {
		height: 640px;
		margin-bottom: 250px;
	}
	.container {
		width: 360px;
	}
	.site__header:before {
		background-image: 
			url("../img/header-mobile.png"),
			url("../img/header-right.jpg");
		background-position: 
			left bottom -5px,
			-600px top;
		background-size: 
			270px, 
			1200px;
	}

	.header__title {
		margin-bottom: 105px;
		font-size: 28px;
	}
	.site__header .sale__line {
		bottom: -50px;
	}
	.summer__foto-1 {
		width: 100%;
		height: auto;
		top: 0;
	}
	.summer__section .block__title {
		margin-top: 380px;
		font-size: 24px;
	}
	.summer__foto-wrapper {
		width: 100%;
		height: 550px;
	}
	.advantages {
		margin-bottom: 550px;
	}
	.info__wrapper .block__title{
		font-size: 24px;
	} 
	.info__text {
		font-size: 18px;
	}
	.info__blocks {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.info__blocks .info__block {
		margin-bottom: 20px;
		width: 160px;
	}
	.info__block-text {
		font-size: 18px;
	}
	.card__section {
		background-image: none;
	}
	.card__2 .card__title {
		width: 240px;
	}
	// .review__img1-wrapper {
	// 	width: 100%;
	// 	height: 470px;
	// }
	.reviews__wrapper {
		width: 290px;
	}
	.review__img2-wrapper {
		top: 1100px;
	}
	.review__img2-wrapper:before {
		width: 200px;
		height: 160px;
		top: -30px;
		right: -30px;
	}
	.review__img1-wrapper:before {
		top: -30px;
		left: -30px;
		width: 200px;
		height: 160px;
	}
	.review__text {
		font-size: 16px;
	}
	.review__block {
		width: 290px;
	}
	.review__slider{
		height: 360px;
		margin: 0;
	}
	.review__slider .slide {
		padding: 20px 15px; 
	}
	.review__slider .slick-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: -60px;
	}
	.add__review {
		bottom: -110px;
		right: 50%;
		transform: translateX(50%);
	}
	.reviews .block__title {
		text-align: center;
		margin-bottom: 30px;
		font-size: 24px;
	}
	.reviews .block__title:before {
		left: 50%;
		transform: translateX(-50%);
	}
	.site__footer .container {
		width: 360px;
	}
	.footer__wrapper {
		padding-bottom: 80px;
	}
	.footer-dev {
		width: 290px;
	}
	.add__review {
		width: 100%;
	}
}

@media (max-width: 375px) {
	.container {
		width: 290px;
	}
	.summer__section .block__title {
		margin-top: 320px;
	}
	.advantages {
		margin-bottom: 540px;
	}
	.summer__section {
		position: relative;
	}
	.summer__section .container {
		position: static;
	}
	.summer__section-wrapper {
		position: static;
	}
	.summer__foto-wrapper:before {
		top: -30px;
		right: -30px;
		width: 220px;
		height: 200px;
	}
	.site__footer .container {
		width: 290px;
	}
	.site__footer {
		background-color: #C11855;
		width: 100%;
		height: 660px;
		background-image: url("../img/footer-mobile.png");
		background-size: 600px;
		background-position: left bottom;
		background-repeat: no-repeat; 
		position: relative;
		z-index: 1;
	}
	.footer__title {
		font-size: 30px;
	}
	.footer__text {
		font-size: 20px;
	}
}

@media (max-width: 360px) {
	.card__2 .card__title {
		width: 240px;
	}
}
