.site__footer {
	background-color: #C11855;
	width: 100%;
	height: 445px;
	background-image: 
		url("../img/footer-left.png"),
		url("../img/footer-right.png"),
		url("../img/footer-birds.png");
	background-repeat: no-repeat;
	background-position: 
		left bottom,
		right bottom,
		735px 35px;
}

.footer__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
} 

.footer__logo {
	margin-top: 50px;
	margin-left: -20px;
}
