.second__section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
} 

.card__section {
	width: 100%;
	height: auto;
	background-color: rgba(222, 193, 188, 0.5);
	background-image: 
		url("../img/cardbg-left.png"),
		url("../img/cardbg-right.png");
	background-position: 
		left 878px,
		right 1850px;
	background-repeat: no-repeat;
	padding: 70px 0;
	padding-bottom: 120px;
	// margin-bottom: 50px;
	position: relative;
}

.card {
	width: 100%;
	height: 700px;
	background-color: #fff;
	margin-bottom: 50px;
	display: flex;
}

.card__1 {
	
}

.card__left {
	width: 390px;
	height: 100%;
}

.card__info-block {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 50px 100px 50px;
	position: relative;
	display: none;
}

.card__btns-color{ 
	width: 70px;
	height: 30px;
	position: absolute;
	top: 50px;
	right: 50px;
	display: flex;
	justify-content: space-between;
}

.card__color {
	width: 30px;
	height: 30px;
	transition: 0.3s ease;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	img {
		display: none;
	}
}

.card__color.black {
	background-color: #88F1FF;
}
.card__color.white {
	border: 1px solid #DEC1BC;
}

.card__color.active {
	img {
		display: block;
		width: 20px;
		height: 16px;
	}
}

.card__logo {
	width: 146px;
	margin-bottom: 20px;
}

.card__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 167%;
	text-align: left;
	color: #2F2F2F;
	width: 100%;
}

.card__info {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 187%;
	color: #2F2F2F;
	margin-bottom: 10px;
}
.card__size-btns {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: flex-start;
}

.btn__block {
	width: 50px;
	height: 100%;
	margin-right: 10px;
	position: relative;
}

.card__size-btn {
	width: 50px;
	height: 50px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 50px;
	color: #DEC1BC;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #DEC1BC;
	cursor: pointer;
	outline: none;
	transition: 0.3s ease;
}

.card__size-btn:hover {
	border: none;
	background: #950237;
	color: #fff;
}

.card__size {
	position: absolute;
	text-align: right;
	width: 75px;
	top: 85px;
	left: 50%;
	transform: translateX(-50%) rotate(-90deg);
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #DEC1BC;
	opacity: 0;
	visibility: hidden;
}

.btn__block.active {
	.card__size-btn {
		background-color: #DEC1BC;
		border: none;
		color: #fff;
	}
	.card__size {
		opacity: 1;
		visibility: visible;
	}
}

.card__price {
	.price {
		margin: 0;
	}
	.old__price {
		font-size: 20px;
	}
	.new__price {
		font-size: 42px;
	}
}

.card .header__order-btn, 
.sprey__card .header__order-btn{
	width: 390px;
	height: 100px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 100px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	left: 0;
}

.card__info-order {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 50px 100px 50px;
	position: relative;
	display: none;
	.card__title {
		margin-top: 0px;
		margin-bottom: 100px;
	}
}

.card__1 .card__info-order {
	.card__title {
		margin-bottom: 80px;
	}
}

.active__info {
	display: flex !important;
}

.card__form {
	width: 100%;
	height: auto;
	// padding-top: 80px;
}

.card__input {
	width: 100%;
	height: 30px;
	margin-bottom: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 10px;
	outline: none;
	border-bottom: 1px solid #2F2F2F;
	color: #2F2F2F;
}

.card__input::placeholder {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #C11855;
}

.card__input:focus::placeholder {
	color: #C11855;
	border-bottom: 1px solid #C11855;
}

.card__input:focus {
	color: #C11855;
	border-bottom: 1px solid #C11855;
}

.card__info-sale {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 187%;
	text-align: center;
	color: #2F2F2F;
	margin-bottom: 30px;
	span {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		text-align: center;
		color: #C11855;
	}
}

.card__back {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 167%;
	color: #DEC1BC;
	cursor: pointer;
	transition: 0.3s ease;
	position: absolute;
	top: 50px;
	right: 50px;
}

.card__back:before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #DEC1BC;
	position: absolute;
	bottom: 5px;
	left: 0;
	transition: 0.3s ease;
}

.card__back:hover {
	color: #950237;
	&:before {
		background-color: #950237;
	}
}

.card__right {
	width: 750px;
	height: 700px;
	position: relative;
}

.slider {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide {
	width: 750px;
	height: 700px;
	position: relative;
}

.slide__img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.3s ease;
}

.slider__btns {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 50px;
	z-index: 100;
	display: flex;
}

.slider__btn {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.btn__next {
	background-color: #DEC1BC;
	position: relative;
}

.btn__next:before {
	content: "";
	position: absolute;
	background-image: url("../img/sliderbtn-white.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
}

.btn__prev {
	border: 1px solid #DEC1BC;
	position: relative;
}


.btn__prev:before {
	content: "";
	position: absolute;
	background-image: url("../img/sliderbtn-pink.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
}

.slick-dots {
	width: 250px;
	height: 5px;
	display: flex;
	bottom: 28px;
	left: 50px;
	z-index: 1000;
	li {
		width: 50px;
		height: 5px;
		margin: 0;
		padding: 0;
		button {
			width: 50px;
			height: 50px;
			margin: 0;
			padding: 0;
			margin-top: -25px;
			&:before {
				display: none;
			}
		}
	}
	li.slick-active {
		width: 50px;
		height: 5px;
		background-color:#DEC1BC;
		z-index: 100000;
	}
	li.slick-active:before {
		content: attr(data-current);
		position: absolute;
		top: -40px;
		left: 0;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 125%;
		color: #FFFFFF;
	}
	li.slick-active:after {
		content: attr(data-next);
		position: absolute;
		top: -42px;
		left: 40px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 167%;
		color: #BDBDBD;
	}
}

.slick-dots:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 250px;
	height: 1px;
	background-color: #FFF;
	z-index: 100000;
}

.sprey__card {
	width: 100%;
	height: 519px;
	background-color: #fff;
	display: flex;
}

.sprey__card .card__title {
	margin-bottom: 60px;
	margin-top: -20px;
	font-size: 24px;
}

.sprey__card .card__info-order .card__title {
    margin-top: -30px;
}

.sprey__card .card__form {
	padding-top: 0px;
}

.sprey__card .card__right {
	position: relative;
	height: 100%;
	background: radial-gradient(50% 50% at 50% 50%, #36393F 0%, #555763 100%);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 50px;
}

.sprey__img {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

.sprey__info {
	width: 290px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.sprey__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 187%;
	color: #FFFFFF;
	margin-bottom: 50px;
}

.sprey__advantage {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
}

.advantage__img {
	margin-right: 20px;
}

.sprey__card .advantage__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 187%;
	color: #FFFFFF;
}

.reviews__section {
	width: 100%;
	height: auto;
	padding-top: 110px; 
	position: relative;
	margin: 0;
	.container {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		// position: static;
	}
}
.reviews {
	height: 100%;
}

.review__img1-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 470px;
	height: 650px;
	z-index: 10;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.review__img1-wrapper:before {
	content: "";
	position: absolute;
	top: -40px;
	left: -40px;
	width: 470px;
	height: 500px;
	background: rgba(222, 193, 188, 0.5);
}

.review__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.review__img2-wrapper {
	position: absolute;
	bottom: -80px;
	right: 0;
	width: 500px;
	height: 840px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.review__img2-wrapper:before {
	content: "";
	position: absolute;
	top: -40px;
	right: -40px;
	width: 500px;
	height: 500px;
	background: rgba(222, 193, 188, 0.5);
	z-index: -1;
}

.reviews__wrapper {
	display: flex;
	justify-content: flex-end;
}

.review__block {
	width: 550px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}

.reviews .block__title{
	margin: 0;
	text-align: left;
	margin-bottom: 50px;
	&:before {
		left: 0;
		right: auto;
	}
}

.review__slider {
	width: 100%;
	height: 350px;
	background: rgba(222, 193, 188, 0.5);
	position: relative;
	.slide {
		width: 550px;
		height: 350px;
		padding: 50px 50px 100px 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
.review__name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 208%;
	text-align: right;
	color: #2F2F2F;
	margin-bottom: 10px;
}

.review__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 168%;
	color: #2F2F2F;
	margin-bottom: 20px;
}

.review__autor {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 214%;
	color: #2F2F2F;
}

.add__review {
	height: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	text-decoration-line: underline;
	color: #DEC1BC;
	cursor: pointer;
	transition: 0.3s ease;
	position: absolute;
	bottom: -50px;
	right: 0;
	word-wrap: normal;
}

.add__review:hover {
	color: #950237;
}

.delivery__wrapper{
	margin-top: 260px;
	width: 550px;
} 

.deliver__stages {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.delivery__stage {
	margin-left: 80px;
	position: relative;
	margin-bottom: 50px;
}

.stage__img {
	position: absolute;
	top: 50%;
	left: -90px;
	transform: translateY(-50%);
}

.stage__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #2F2F2F;
	margin-bottom: 10px;
}

.stage__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 167%;
	color: #2F2F2F;
}
